
main{
    width: 90%;
}
body{
    background-image: url(háttér2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: white;
    font-weight: bold;
    text-shadow: 6px;
}
.fejezetek{
    border: 2px solid black;
    background-color: beige;
}
.vege{
    border: 2px solid black;
    background-color: darkred;
    color: white; 
}
.vege2{
    border: 2px solid black;
    background-color: green;
    color: white;
}