body{
    background-image: url(háttér2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
h1{
    color: white;
    font-weight: bold;
    text-shadow: 6px;
}
.fejezetek{
    border: 2px solid black;
    background-color: beige;
}
img{
    width: 400px;
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
}